@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
  width: 100%;
}

:root {
  --black-color: #000000;
  --white-color: #ffffff;
  --pink-color: #f72798;
  --orange-color: #f57d1f;
  --yellow-color: #ebf400;
}

body {
  color: var(--white-color);
  background: var(--black-color);
  font-family: "Roboto", sans-serif;
}

.input-field {
  @apply w-full p-2 border rounded bg-[#010102] placeholder-[#eaeaeab9] text-[#F6F6F6] outline-none border-[#3f3f41] focus:border-yellow-500;
}

.submit-btn {
  @apply w-full bg-yellow-500 hover:bg-yellow-600 transition-colors text-black border-none px-4 py-2 rounded cursor-pointer my-[1rem] text-base font-semibold;
}
